html, body {
  height: 100%;
  margin: 0;
  font-family: Arial;
  font-weight: lighter;
}

canvas {
	position: fixed;
	top: 0;
	z-index: -1;
	background: #000;
	display: block;
	height: 100%;
	width: 100%;
}

.background {
	position: fixed; 
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.logoBackground {
	background:rgba(0, 0, 0, 0); 
	position: fixed; 
	z-index: -1;
	opacity: 0.4;
	width: 80%;
	margin-left: 10%;
	margin-top: 20vh;
}

.logo {
	margin-left: 33%;
	width: 34%;
	margin-top: 6%;
	margin-bottom: 3%;
	opacity: 0.6;
}

.content {
	width: 100%;
	color: rgba(255, 255, 255, 0.6);
	text-align: center;
	font-size: 2.2em;
	margin-top: 5%;
	z-index: 1;
	opacity: 0.9;
	font-weight: bold;
	margin-bottom: 3%;
}

.table {
	width: 80%;
	margin-left: 10%;
	color: rgba(255, 255, 255, 0.6);
	font-size: 2.2em;
	line-height: 1.2em;
	text-align: center;
	border-collapse: collapse;
}

.table td {
	border: rgba(255, 255, 255, 0.3) 2px solid;
	padding: 0.4em;
}

.small {
	display: inline-block;
	font-size: 0.8em;
	text-align: left;
}

@media(min-height: 1000px) {
	.logo {
		width: 76%;
		margin-left: 12%;
		margin-top: 10%;
	}
	.content {
		margin-top: 10%;
		font-size: 2.2em;
	}
}



